@import "tailwindcss";

.mySwiper {
  padding-bottom: 60px !important;
  
  
}
html {
  scroll-behavior: smooth;
}
/* Arrows ki positioning */
.swiper-button-next, .swiper-button-prev {
  width: 12px;
  height: 12px;
  border-radius: 0 !important; /* Circle se square ho jayega */
  background: white !important; /* Pehle hi white set kar diya */
  opacity: 0.5;
}

.swiper-pagination-bullet {
 width: 12px;
  height: 12px;
  border-radius: 0 !important; /* Circle se square ho jayega */
  background: white !important; /* Pehle hi white set kar diya */
  opacity: 0.5;
}





/* Ye style desktop par apply hoga */
.navbar {
  display: flex;
  justify-content: space-between; /* Desktop par links door-door rahenge */
}

/* Sirf Mobile ke liye (Screen width 768px se kam) */
@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: column; /* Ya jo bhi aapne layout set kiya hai */
    align-items: flex-start; /* Ye aapki navbar ko left par le ayega */
  }
}
.swiper-pagination-bullet-active {
  background: white !important; /* Active wala pure white hoga */
  opacity: 1 !important /* Active button ka color */
}
/* Mobile par arrows ko hide karne ke liye */
@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

body {
  background-color: #000000;
  margin: 0;
  padding: 0;
}
/* 
   Agar tum chahti ho ke mobile par pagination (wo niche wale dots) 
   bhi na dikhen toh ye bhi add kar dena:
*/
@media (max-width: 768px) {
  .swiper-pagination {
    bottom: 10px !important;      /* Slider se thoda upar */
  z-index: 10;
  }
}